USE [master]
GO
/****** Object:  Database [QLY_DIEMTHPT]    Script Date: 01/03/2024 21:15:50 ******/
CREATE DATABASE [QLY_DIEMTHPT]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLY_DIEMTHPT].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLY_DIEMTHPT]
GO
/****** Object:  Table [dbo].[tbl_Account]    Script Date: 01/03/2024 21:15:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Account](
	[matk] [int] NOT NULL,
	[pass] [varchar](200) NULL,
	[phanquyen] [char](2) NULL,
PRIMARY KEY CLUSTERED 
(
	[matk] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Diem]    Script Date: 01/03/2024 21:15:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Diem](
	[mahs] [int] NOT NULL,
	[tenmon] [nvarchar](100) NOT NULL,
	[hocky] [int] NOT NULL,
	[loaidiem] [varchar](100) NOT NULL,
	[diem] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[mahs] ASC,
	[tenmon] ASC,
	[hocky] ASC,
	[loaidiem] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Giaovien]    Script Date: 01/03/2024 21:15:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Giaovien](
	[magv] [int] IDENTITY(250001,1) NOT NULL,
	[hoten] [nvarchar](100) NULL,
	[gioitinh] [nvarchar](5) NULL,
	[ngaysinh] [date] NULL,
	[cccd] [varchar](50) NULL,
	[mon] [nvarchar](100) NULL,
	[sdt] [varchar](50) NULL,
	[email] [varchar](50) NULL,
	[quequan] [nvarchar](200) NULL,
	[diachilh] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[magv] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Hocsinh]    Script Date: 01/03/2024 21:15:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Hocsinh](
	[mahs] [int] IDENTITY(450001,1) NOT NULL,
	[hoten] [nvarchar](100) NULL,
	[gioitinh] [nvarchar](5) NULL,
	[ngaysinh] [date] NULL,
	[cccd] [varchar](50) NULL,
	[khoahoc] [varchar](100) NULL,
	[lop] [varchar](10) NULL,
	[sdt] [varchar](50) NULL,
	[quequan] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[mahs] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_ketqua]    Script Date: 01/03/2024 21:15:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_ketqua](
	[mahs] [int] NOT NULL,
	[kieudanhgia] [int] NOT NULL,
	[dtbmon] [float] NULL,
	[xlrl] [nvarchar](50) NULL,
	[xlhl] [nvarchar](50) NULL,
	[xlhv] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[mahs] ASC,
	[kieudanhgia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Mon]    Script Date: 01/03/2024 21:15:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Mon](
	[tenmon] [nvarchar](100) NOT NULL,
	[sotiet] [int] NULL,
	[sobaihs1] [int] NULL,
	[sobaihs2] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[tenmon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[tbl_Account] ([matk], [pass], [phanquyen]) VALUES (1, N'1', N'AD')
GO
INSERT [dbo].[tbl_Mon] ([tenmon], [sotiet], [sobaihs1], [sobaihs2]) VALUES (N'Công nghệ', NULL, NULL, NULL)
INSERT [dbo].[tbl_Mon] ([tenmon], [sotiet], [sobaihs1], [sobaihs2]) VALUES (N'Địa lý', NULL, NULL, NULL)
INSERT [dbo].[tbl_Mon] ([tenmon], [sotiet], [sobaihs1], [sobaihs2]) VALUES (N'GDCD', NULL, NULL, NULL)
GO
ALTER TABLE [dbo].[tbl_Diem]  WITH CHECK ADD FOREIGN KEY([mahs])
REFERENCES [dbo].[tbl_Hocsinh] ([mahs])
GO
ALTER TABLE [dbo].[tbl_Diem]  WITH CHECK ADD FOREIGN KEY([tenmon])
REFERENCES [dbo].[tbl_Mon] ([tenmon])
GO
ALTER TABLE [dbo].[tbl_Giaovien]  WITH CHECK ADD FOREIGN KEY([mon])
REFERENCES [dbo].[tbl_Mon] ([tenmon])
GO
ALTER TABLE [dbo].[tbl_ketqua]  WITH CHECK ADD FOREIGN KEY([mahs])
REFERENCES [dbo].[tbl_Hocsinh] ([mahs])
GO
USE [master]
GO
